<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
  enabled. Please enable
  Javascript and reload this page!</h2></noscript>
<div id="main-content" class="container">
    <div class="container-header">
        <section class="l-header-region row">
            <div class="columns">
                <section class="block block-blockify medium-6 columns block-blockify-blockify-logo header">


                    <a href="/es" id="logo" rel="home" title="Return to the Banco de la República (banco central de Colombia) home page" class="active"><img typeof="foaf:Image" src="https://www.banrep.gov.co/sites/default/files/brc-principal_1.png" alt="Banco de la República (banco central de Colombia) logo" /></a>
                </section>
                <section class="block block-block medium-3 columns buscador-general right buscador-google block-block-200 header">


                    <script async="" src="https://cse.google.com/cse.js?cx=008354858064836696725:yphgx0z9v8o"></script>
                    <div class="gcse-search"></div>

                </section>
            </div>
        </section>
    </div>
    <p></p>
    <div class="row">
        <div class="col-md-5">
            <form class="form-inline">
                <div class="form-group">
                    <label for="connect">WebSocket</label>
                    <button (click)="connect()" class="btn btn-default" type="submit">Connect</button>
                    <button (click)="disconnect()" class="btn btn-default" type="submit" disabled="disabled">Disconnect
                  </button>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <form class="form-inline">
                <div class="form-group">
                    <label>Probar WebSocket</label>
                </div>
                <button (click)="sendMessage()" class="btn btn-default" type="submit">Test</button>
                <button (click)="reset()" class="btn btn-default" type="submit">Reset</button>
            </form>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>{{ greeting }}</label>
            </div>
        </div>

    </div>


    <router-outlet></router-outlet>
    <app-table></app-table>
</div>